/* styles.css */

body {
    font-family: ubuntu;
    background-color: #000e29; /* Dark background color */
    color: #fcfeff; /* Light blue color for text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* Gradient overlay */
#background-video::after {
    content: "";
    position: absolute; /* Position overlay absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 128, 0.5); /* Navy blue with transparency */
    z-index: -1; /* Send the overlay behind the content */
}

.container {
    position: relative; /* Position relative to allow absolute positioning of children */
    background: #4ea3c781; /* Slightly lighter dark background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    z-index: 1; /* Bring content above the video */
    color: #010634;
}
#cityName {
    color: #010634;
}

.weather-info {
    margin: 15px 0;
}

#weatherIcon img {
    width: 80px;
    height: 80px;
}

input[type="text"], select {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #010e45;
    border-radius: 5px;
    background: #fafafa;
    color: #000727;
}

button {
    background-color: #010634;
    border: none;
    color: #ffffff;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4ea3c7; /* Darker shade for hover */
}

.error-message {
    color: #c02206; /* Red color for error messages */
    font-size: 0.9em;
    margin: 5px 0;
}

.comment-section {
    margin-top: 20px;
    color: #010634;
}

.comment {
    background: #010634;
    color: #f7f8f8;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment button {
    background-color: #a41d05; /* Red color for delete button */
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.comment button:hover {
    background-color: #a31b06; /* Darker red for hover */
}

#unitSelector {
    width: 50%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: #010634;
    color: #fefefe;
}
